html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img.infoBarLogo {
    width: 5%;
    height: 90%;
}

p.mission {
    color: #FAFCE9;
    text-align: center;
}

p.missionTitle {
    color: #FAFCE9;
    text-align: center;
}