.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.topBar {
    font-size: 1.3vw;
    display: flex;
    flex-direction: "row";
    align-items: center;
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 6vh;
    left: 0px;
    top: 0px;
}

.topBarLogo {
    justify-self: flex-start;
    padding-left: 20px;
    padding-right: 15px;
    max-width: 100%;
    max-height: 100%;
}

.topBarTitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #353839;
}

.infoButtons {
    margin: auto;
}

.centerPiece {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
}

.slideshow {
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.image {
    border-radius: 20px;
    height: 100%;
    width: 100%
}

.missionStatement {
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Montserrat";
    text-align: center;
    margin: auto;
    height: 60%;
    width: 40%;
}

.smallMissionStatement {
    text-align: center;
    margin: auto;
    height: 90%;
    width: 90%;
}

.statementText {
    font-family: "Montserrat";
    font-size: 1.3vw;
    margin: auto;
}