.container {
    scroll-behavior: smooth;
    padding: 0 2rem;
    position: relative;
    overflow-x: hidden;
}

.main {
    scroll-behavior: smooth;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.topBar {
    z-index: 999;
    font-size: 1.3vw;
    display: flex;
    flex-direction: "row";
    align-items: center;
    position: absolute;
    position: fixed;
    text-align: center;
    width: 100vw;
    height: 6vh;
    left: 0px;
    top: 0px;
}

.topBarLogo {
    justify-self: flex-start;
    padding-left: 20px;
    padding-right: 15px;
    max-width: 100%;
    max-height: 100%;
}

.topBarTitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    color: #353839;
}

.infoButtons {
    margin: auto;
}

.centerPiece {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
}

.slideshow {
    width: 50%;
    height: 100%;
}

.image {
    object-fit: cover;
    border-radius: 20px;
    height: 100%;
    width: 100%
}

.missionStatement {
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Montserrat";
    text-align: center;
    margin: auto;
    height: 60%;
    width: 40%;
}

.smallMissionStatement {
    text-align: center;
    margin: auto;
    height: 90%;
    width: 90%;
}

.statementText {
    font-family: "Montserrat";
    font-size: 1.3vw;
    margin: auto;
}


/* about */
.about {
    background-color: green;
    width: 100%;
    height: 110%;
    position: absolute;
    top: 100%;
}


/* resources */
.resources {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: blue;
    width: 50%;
    height: 110%;
    position: absolute;
    top: 210%;
}

.onCampusResources {
    background-color: white;
}

.onCampusResourcesText {
    color: black;
}

.offCampusResources {
    background-color: bisque;
}

.offCampusResourcesText {
    color: blue;
}

.offCampusNotableText {
    color: #0070f3;
}

.allyResources {
    background-color: #353839;
}

.allyResourcesText {
    color: blueviolet;
}

.allySocialMedia {
    color: blueviolet;
}

/* contact */
.contact {
    background-color: black;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 695%;
}